.App{
  font-size: 12px;
}

div.header{
  text-align: center;
  align-items: center;
}
.header{
  width: 800px;
  height: 30px;
  display: grid;
  grid-template-columns: [item1]500px [item2]100px [item3]100px [item4]100px;
  gap: 5px;
}
.item1{
  background-color: beige;
}
.item2{
  background-color: aliceblue;
}
.item3{
  background-color: beige;
}
.item4{
  background-color: beige;
}
.row{
  display: grid;
  grid-template-columns:  [item1]500px [item2]100px [item3]100px [item4]100px;
  gap: 5px;
  cursor: pointer;
}

.col1{
  background-color:beige;
  margin-bottom: 5px;
}
.col2{
  text-align: center;
  background-color: aliceblue;
  margin-bottom: 5px;
}
.col3{
  background-color:beige;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.col4{
  text-align: center;
  background-color:beige;
  margin-bottom: 5px;
}

.line{
  width: 500px;
  height: 250px;
}